RewriteEngine On

ErrorDocument 404 /404.php
RewriteRule ^Auth/Profile$ public/client/Profile.php [L]
RewriteRule ^Auth/Register$ public/client/Register.php [L]
RewriteRule ^Auth/Login$ public/client/Login.php [L]
RewriteRule ^Auth/Logout$ public/client/Logout.php [L]
RewriteRule ^Auth/ForgotPassword$ public/client/ForgotPassword.php [L]
RewriteRule ^Auth/ChangePassword$ public/client/ChangePassword.php [L]
RewriteRule ^Withdraw$ public/client/Withdraw.php [L]
RewriteRule ^Localbank$ public/client/Localbank.php [L]
RewriteRule ^History/Card$ public/client/HistoryCard.php [L]
RewriteRule ^Ket-noi-api$ public/client/Api.php [L]
RewriteRule ^Transfers$ public/client/Transfers.php [L]
RewriteRule ^Blogs$ public/client/Blogs.php [L]
RewriteRule ^Blog/([A-Za-z0-9-]+) public/client/XemBlog.php?id=$1 [L]
RewriteRule ^BuyCard$ public/client/BuyCard.php [L]
RewriteRule ^Topup$ public/client/Topup.php [L]
RewriteRule ^Bank$ public/client/Bank.php [L]
RewriteRule ^dieu-khoan-dich-vu$ public/client/dieu-khoan.php [L]
RewriteRule ^Referral$ public/client/Referral.php [L]
RewriteRule ^BienDong$ public/client/BienDong.php [L]
RewriteRule ^tai-lieu-api$ public/client/Tai-lieu-api.php [L]
RewriteRule ^password$ public/client/Password.php [L]
RewriteRule ^view-card/([A-Za-z0-9-]+)$ public/client/Viewcard.php?id=$1 [L]
RewriteRule ^view-topup/([A-Za-z0-9-]+)$ public/client/Viewtopup.php?id=$1 [L]
RewriteRule ^view-carot/([A-Za-z0-9-]+)$ public/client/Viewcarot.php?id=$1 [L]
RewriteRule ^Topupcarot$ public/client/Toupcarot.php [L]
RewriteRule ^rank$ public/client/Topnap.php [L]
RewriteRule ^pass2$ public/client/Pass2.php [L]
RewriteRule ^capnhat$ public/client/Capnhatthongtin.php [L]
RewriteRule ^napkc$ public/client/Napkc.php [L]

RewriteRule ^Admin/Home$ public/admin/Home.php [L]
RewriteRule ^Admin/Users$ public/admin/Users.php [L]
RewriteRule ^Admin/User/Edit/([A-Za-z0-9-]+) public/admin/EditUser.php?id=$1 [L]
RewriteRule ^Admin/Setting$ public/admin/Setting.php [L]
RewriteRule ^Admin/Withdraw$ public/admin/Withdraw.php [L]
RewriteRule ^Admin/Withdraw/Edit/([A-Za-z0-9-]+) public/admin/EditWithdraw.php?id=$1 [L]
RewriteRule ^Admin/Topupcarot/Edit/([A-Za-z0-9-]+) public/admin/EditToupcarot.php?id=$1 [L]
RewriteRule ^Admin/Napkc/Edit/([A-Za-z0-9-]+) public/admin/Editkc.php?id=$1 [L]
RewriteRule ^Admin/Cards$ public/admin/Cards.php [L]
RewriteRule ^Admin/Napkc$ public/admin/Napkc.php [L]
RewriteRule ^Admin/Transfers$ public/admin/Transfers.php [L]
RewriteRule ^Admin/Setting/Card$ public/admin/SettingCard.php [L]
RewriteRule ^Admin/Blogs$ public/admin/Blogs.php [L]
RewriteRule ^Admin/Blog/Edit/([A-Za-z0-9-]+) public/admin/EditBlog.php?id=$1 [L]
RewriteRule ^Admin/BuyCard$ public/admin/BuyCard.php [L]
RewriteRule ^Admin/SellCard public/admin/SellCard.php [L]
RewriteRule ^Admin/Topup$ public/admin/Topup.php [L]
RewriteRule ^Admin/Topupcarot$ public/admin/Toupcarot.php [L]
RewriteRule ^Admin/Bank$ public/admin/Bank.php [L]
RewriteRule ^Admin/Qtv$ public/admin/Qtv.php [L]
RewriteRule ^Admin/Thecham$ public/admin/Thecham.php [L]

